* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.wrapper {
  z-index: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.list {
  top: 20%;
  list-style: none;
  width: 20%;
}

.list li {
  width: 100%;
  background-color: rgb(132, 207, 234);
}

.form_container {
  visibility: hidden;
  position: absolute;
  top: 30%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 2rem;
}

.task_details {
  z-index: 3;
  visibility: hidden;
  background-color: aqua;
  position: absolute;
  top: 10%;
  padding: 3rem;
  border-radius: 1rem;
}

.modal_overlay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: 2;
}
